{% extends 'partials/_base.html' %}
{% load static %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-3">
      <h1>Kategoriler</h1>
      <ul class="list-group list-group-flush">
        {% for category in categories %}
        <li class="list-group-item">{{category.categoryName}}</li>
        {% endfor %}
      </ul>
    </div>

    <div class="col-md-9">
      <table class="table">
        <thead>
          <tr>
            <th></th>
            <th>Marka</th>
            <th>Model</th>
            <th>Ağırlık</th>
            <th>Kategori</th>
          </tr>
        </thead>
        <tbody>
          {% for d in drones %}
          <tr>
            <td><img style="width: 200px;" src="{{d.image.url}}" alt=""></td>
            <td>{{d.brand}}</td>
            <td>{{d.model}}</td>
            <td>{{d.weight}}</td>
            <td>{{d.category}}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>


</div>
</body>

</html>
{% endblock %}